<h2>Tournament Director Contact Information</h2>

<p>
Please write this information down somewhere other than on your computer in case you do
not have access to your computer when you need it. It is your responsibility to keep this contact
information where you can access it.
</p>
<ul>
<li>Tournament director: {{ .Site.Params.tdName }}</li>
<li>Tournament director email: {{ .Site.Params.tdEmail }}</li>

<li>Tournament Director cell phone (text or call): {{ .Site.Params.tdPhone }}</li>
</ul>

<p>